[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
passlib = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
uWSGI = "*"
flask-env = "*"
pytest = "*"
pytest-factoryboy = "*"
pytest-runner = "*"
pytest-flask = "*"
factory-boy = "*"
{{cookiecutter.app_name}} = {editable = true, path = "."}
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
